body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #FFC0CB;
    color: #fff;
}

header img {
    border-radius: 50%; 
    max-width: 100px;
    height: auto;
    margin-bottom: 10px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #FFC0CB;
    
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
}

section h2 {
    color:#FFC0CB ;
}

ul {
    list-style-type: none;
}

.project {
    cursor: pointer;
    margin-bottom: 15px;
}

.project img {
    max-width: 50%;
    height: auto;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #FFC0CB;
    color: #fff;
}


